/**index.wxss**/
page {
  background:rgba(249,249,249,1);
  box-sizing: border-box;
}
  .limit-page {
    padding: 0 30rpx;
  }
.limit-top,.limit-bottom{
  padding: 0 36rpx;
  background-color :#ffffff;
  font-size:28rpx;
  color:rgba(34,58,80,1);
  line-height:40rpx;
  margin-top: 40rpx;
}
  .limit-item {
    padding:30rpx 0;
  }
  .arrow-right-img {
    width: 28rpx;
    height: 28rpx;
  }
    .no-border {
      border :none;
    }
