<navigation page-name="{{title}}" showNav="{{false}}"></navigation>
<view class="flex-col-center flex-align-center">
    <image src="../../images/logo.png" style="width: 168rpx;height: 168rpx;margin: 124rpx auto 0 auto"></image>
    <view style="margin-top: 66rpx;color:rgba(46,68,89,1);font-size: 28rpx   ">发布成功，请耐心等待审核</view>
    <view class="btn" style="position: fixed;bottom: 110rpx;" bindtap="gotoIndexPage">返回首页</view>
</view>
