<view hidden="{{hideFlag}}" catchtouchmove="{}" catchtap="{}">
    <view class="mask fl-center-center" bindtap="closeModal">
        <view style="width:560rpx;height:680rpx;background:rgba(255,255,255,1);border-radius:32rpx;" catchtap="closeModalOne">
            <!-- 精品岗位 -->
            <view class="flex-center-center" style="margin-top:52rpx;">
                <image style="height:228rpx;width:496rpx;" src="https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-wechat/youpin/images/boutique.png" bindtap="selectPublish" data-type="0" />
                <view class="content" style="margin-top:16rpx;" bindtap="showAccurate" data-type="0">
                    什么是精品岗位
                    <image style="height:28rpx;width:28rpx;margin-left:10rpx;" src="https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-wechat/youpin/images/questionMark.png" />
                </view>
            </view>
            <!-- 普通岗位 -->
            <view class="flex-center-center"  style="margin-top:32rpx;">
                <image style="height:228rpx;width:496rpx;" src="https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-wechat/youpin/images/ordinary.png" bindtap="selectPublish" data-type="1" />
                <view class="content" style="margin-top:16rpx;" bindtap="showAccurate" data-type="1">
                    什么是普通岗位
                    <image style="height:28rpx;width:28rpx;margin-left:10rpx;" src="https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-wechat/youpin/images/questionMark.png" />
                </view>
            </view>
        </view>
    </view>
</view>
<modal-accurate id="modal_accurate" bind:close="openModal" rank-type="{{type}}" resume-or-job="job"></modal-accurate>