page{
  background-color: #FAFAFA;
}
.rong-chat{
  position: absolute;
  width: 100%;
  top: 60rpx;
  bottom: 0;
}

.rong-messages{
  position: absolute;
  top: 60rpx;
  background: #F5F5F5;
  bottom: 100rpx;
}

.rong-editor{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15rpx;
  border-top:1px solid #eAeAeA;
  background: #FAFAFA;
  box-sizing: border-box;
}

.rong-editor-input{
  height: 58rpx;
  border:1px solid #eAeAeA;
  display: inline-block;
  border-radius: 5rpx;
  margin-top: 6rpx;
  position: absolute;
  background: #ffffff;
  left: 30rpx;
  right: 194rpx;
}

.rong-editor-input:focus{
  border-bottom: 1px solid red;
}

.rong-editor-btn{
  margin-right: 20rpx;
  margin-top: 4rpx;
}
.rong-editor-btn-voice{
  background-image: url("https://rongcloud-image.cn.ronghub.com/o_1chk2kfkpr8pdm31j56t49fg1a.png?e=2147483647&token=livk5rb3__JZjCtEiMxXpQ8QscLxbNLehwhHySnX:7JEmLgDyTGVPaqFkfv1XlIIvKTY=");
  float: left;
}

.rong-editor-btn-emoji{
   background-image: url("https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-wechat/jiankezhaopin/images/expression.png");
   float: right;
}

.rong-editor-btn-more{
   background-image: url("https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-wechat/jiankezhaopin/images/more.png"); 
  float: right;
}

.rong-editor-btn-emojisent{
  float: right;
  font-size:15px;
  background: #1BA3FC;
  border-radius: 6rpx;
  color: #FFF;
  margin-top: 8rpx;
  margin-right: 20rpx;
  padding: 6rpx 2rpx;
}

.rong-editor-btn-keyboard{
  background-image: url("https://rongcloud-image.cn.ronghub.com/o_1chk2kfkpso212071oevn0e3fe19.png?e=2147483647&token=livk5rb3__JZjCtEiMxXpQ8QscLxbNLehwhHySnX:QIOf02NbmqvFMlOwcMXZAXbGDVU=");
  float: left;
}

.rong-editor-record{
  border: 1px solid #CCC;
  border-radius: 5rpx;
  text-align: center;
  color: #8E969F;
  box-sizing: border-box;
  line-height: 55rpx;
}

/* 模块  */
.rong-voice-recording{
  position: absolute;
  top: 35%;
  left: 38%;
  background-color: #333;
  background-size: contain;
  height: 200rpx;
  width: 200rpx;
  opacity: 0.8;
  border-radius: 10rpx;
  padding: 10rpx;
  background-image: url("https://rongcloud-image.cn.ronghub.com/o_1chlab8nk1gp014f11vdu5u11v74l.gif?e=2147483647&token=CddrKW5AbOMQaDRwc3ReDNvo3-sL_SO1fSUBKV3H:a9LUbvDq5PbI5H5-MtJP49SFGdE=");
}

.rong-editor-emojis,.rong-editor-more{
  background: #FAFAFA;
  height: 210px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.rong-editor-emoji{
  width:60rpx;
  height:60rpx;
  display:inline-block;
  text-align:center;
  margin:7px;
  font-size:30px;
}

.rong-emojis-swiper, .rong-modules-swiper{
  height: 185px;
}

.rong-adapter-box{
  position: absolute;
  bottom: 0;
  width: 100%;
  background:#FFF;
}

.rong-editor-modules{
  height: 60px;
  width: 60px;
  border: 1px solid #d2d2d4;
  border-radius: 15px;
  background-color: #fff;
  padding: 10px 14px 10px 9px;
  box-sizing: border-box;
  margin: 20px;
  float: left;
}

.rong-editor-module{
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.rong-editor-module-image{
  background-image: url('https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-wechat/jiankezhaopin/images/image.png');
}

.rong-editor-module-music{
  background-image: url('https://rongcloud-image.cn.ronghub.com/o_1chuu8j7g15bm3qbpvc1e891tmog.png?e=2147483647&token=CddrKW5AbOMQaDRwc3ReDNvo3-sL_SO1fSUBKV3H:vSoaCmGeTC7GIpsVzWmR6zSRnaI=');
  height: 35px;
}

.rong-editor-module-camera{
    background-image: url('https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-wechat/jiankezhaopin/images/camera.png');
  height: 35px;
}

.rong-editor-module-imgtxt{
  background-image: url('https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-wechat/jiankezhaopin/images/camera.png');
  height: 35px;
}
