
<navigation page-name="" showNav="{{false}}" type="{{2}}"></navigation>
<scroll-view class='rong-conversations' wx:if="{{isLogin}}">
  <view class="fl-center-center" style="width:100%;height:{{height-95}}px;color:#909399;" wx:if="{{conversationList.length==0&&hasUserAuth}}">暂时没有消息</view>
  <view class="conversation-list" wx:for="{{conversationList}}" wx:for-item="conversation" wx:key='{{conversation.targetId}}'
        wx:if="{{conversation.latestMessage.conversationType==1 }}">
    <view class="conversation-list-cell" style="{{(index!=conversationList.length-1)?'border-bottom:1px solid rgba(231,231,231,0.4);':''}}">
      <Conversation bindtap='gotoChat'  data-item='{{conversation}}' conversation='{{conversation}}' ></Conversation>
    </view>
  </view>

</scroll-view>

<view class='rong-authorization-tip' wx:if="{{!hasUserAuth}}">需要您的授权才可以使用哦～</view>
<!-- <button  wx:if="{{!hasUserAuth}}" open-type="getUserInfo" bindgetuserinfo="onAuthCompleted" class='rong-authorization-btn'> 立即授权 </button> -->
<button wx:if="{{!hasUserAuth}}" bindtap="openLogin" class='rong-authorization-btn'> 立即授权 </button>

<modal-login wx:if="{{showLogin}}" id="modal_login"></modal-login>
