.mask {
  position :fixed;
  top: 0;
  left: 0;
  width :100%;
  height: 100vh;
  background-color: rgba(121, 121, 121, 0.8);
  z-index :101;
}
.page-login {
  position :fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600rpx;
  height: 760rpx;
  margin : auto;
  background:rgba(255,255,255,1);
  box-shadow:0px 17px 16px 0px rgba(119,119,119,0.5);
  border-radius:24px;
  padding :50rpx 0;
  box-sizing :border-box;
  z-index :101;
}
.page-login-title {
  font-size:40rpx;
  font-family:PingFangSC;
  font-weight:600;
  color:rgba(0,0,0,1);
  line-height:56rpx;
  text-align: center;
}

.page-login .logo-img {
  margin-top: 60rpx;
  text-align :center;
}

.page-login image {
  width: 200rpx;
  height: 200rpx;
  margin :0 auto;

}
.btn-group {
  margin-top: 48rpx ;
  margin-bottom: 150rpx ;
  display :flex;
  justify-items :center;

}
.btn-cancel,.btn-login {
  background-color :#DDDDDD;
  width:206rpx;
  height:80rpx;
  border-radius:46rpx;
  font-size:28rpx;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color :#ffffff;
  line-height:80rpx;
  text-align :center;
}
.btn-login {
  border:none;
  background-color :#00C7E1;
  color :#ffffff;
}
.btn-close image {
  width: 60rpx;
  height: 60rpx;
  z-index :101;
  margin-left: 270rpx;
}
.page-login-tip {
    line-height :40rpx;
    font-size: 24rpx;
    text-align:center;
    margin-top: 84rpx;
  }