/**index.wxss**/
page {
  background-color: #FFFFFF;
  box-sizing: border-box;
}
.talent-pool {

}
.query-nav {
  width:100%;
  height:100rpx;
  background:rgba(253,253,254,1);
  padding:30rpx;
  box-sizing :border-box;
  position: sticky;
  top: 110rpx;
  z-index :99;
}
  .sub-nav-sticky{
    position: absolute;
    top: 210rpx;
    z-index :999;
    width: 100%;
    background:rgba(253,253,254,1);
  }
.nav-item {
  font-size:28rpx;
  color:rgba(49,59,78,1);
  line-height:40rpx;
}

.nav-arrow {
  width:36rpx;
  height:36rpx;
  margin-left: 12rpx
}
.sub-city-item {
  height: 100rpx;
  width: 247rpx;
  line-height: 100rpx;
  font-size: 28rpx;
  text-align: center;
  background-color: #ffffff;
  z-index: 99;
  color :#909399;
  border-left:1rpx solid #EFEFEF;
  border-bottom:1rpx solid #EFEFEF;
}
  .experience-item {
    text-align :center;
    font-size:30rpx;
    height: 108rpx;
    color:rgba(144,147,153,1);
    line-height:108rpx;
    border-bottom : 2rpx solid #EFEFEF
  }
.talent-list-box {
  padding :20rpx 30rpx;
  background:rgba(249,249,249,1);
}
.talent-pool-item{
  background:rgba(255,255,255,1);
  margin-bottom: 22rpx;
  box-shadow:0px 4rpx 16rpx 0px rgba(221,221,221,0.5);
  border-radius:4rpx;
}
.talent-content {
  padding :46rpx 30rpx;
  font-size :24rpx;
  color:rgba(144,147,153,1);
  line-height :34rpx;
  position: relative;
}

.talent-profile {
  width:120rpx;
  height:120rpx;
  background:rgba(191,218,233,1);
  box-shadow:0px 1px 6rpx 0px rgba(0,0,0,0.5);
  margin-right: 24rpx;
  border-radius: 50%;
  overflow: hidden;
}
.talent-identity-icon {
  width: 28rpx;
  height: 28rpx;
  position: absolute;
  bottom: 0;
  right: 34rpx;
}
.talent-sex-icon {
  width: 32rpx;
  height: 32rpx;
  margin-left: 6rpx;
}
.talent-name {
  font-size:34rpx;
  color:rgba(34,58,80,1);
}
.talent-contact {
  font-size:28rpx;
  color:rgba(25,199,234,1);
}
.btn-collect {
  width:160rpx;
  height:64rpx;
  border-radius:10rpx;
  border:1px solid rgba(136,226,244,1);
  font-size:28rpx;
  color:rgba(25,199,234,1);
  text-align :center;
  line-height: 64rpx;
  margin :22rpx;
}
.btn-cancel-collect {
  width:160rpx;
  height:64rpx;
  border-radius:10rpx;
  font-size:28rpx;
  color:#FFFFFF;
  text-align :center;
  line-height: 64rpx;
  margin :22rpx;
  background:rgba(192,196,204,1);
}
.nav-item-active {
  color :#19C7EA
}
.over-hide {
  overflow :hidden;
  height: 24vh;
}
