<navigation page-name="{{title}}" showNav="{{false}}"></navigation>
<view class="talent-pool">
    <!--一级搜索导航-->
    <view class="query-nav flex-row-sb" style="top:{{navHeight}}px">
        <view class="nav-item flex-row" wx:for="{{firstNavList}}" bindtap="fistNavClick" data-type="{{item.id}}">
            <view class="{{firstNavType==item.id?'nav-item-active':''}}">{{item.name}}</view>
            <image wx:if="{{firstNavType==item.id}}" class="nav-arrow" src="https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-wechat/jiankezhaopin/images/blue-down.png"></image>
            <image wx:else  class="nav-arrow" src="https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-wechat/jiankezhaopin/images/down.png"></image>
        </view>
    </view>
    <!--二级城市选择框-->
    <view wx:if="{{showSubCity}}" class="sub-city-list flex-row sub-nav-sticky">
        <view  wx:for="{{subCityList}}" class="{{subCityId==item.id?'sub-city-item nav-item-active':'sub-city-item'}}" bindtap="subCityClick" data-id="{{item.id}}" data-name="{{item.name}}">{{item.name}}</view>
        <view class="sub-city-item " wx:if="{{subCityList.length%3==1}}"></view>
        <view class="sub-city-item " wx:if="{{subCityList.length%3==1}}"></view>
        <view class="sub-city-item " wx:if="{{subCityList.length%3==2}}"></view>
    </view>
    <!--职位筛选框-->
    <view wx:if="{{showJob}}" class="sub-nav-sticky" style="height:70vh">
        <select-job  catchtap="test" bind:selectJob="jobClick" select-job-init="{{JobClassifyList}}"></select-job>
    </view>
    <!--经验筛选框-->
    <view wx:if="{{showExperience}}" class="sub-nav-sticky experience-box">
      <view wx:for="{{experienceList}}" class="experience-item {{experienceId==item.id?'nav-item-active':''}}" bindtap="experienceClick" data-id="{{item.id}}" data-name="{{item.name}}">
       {{item.name}}
      </view>
    </view>
    <!--年龄筛选框-->
    <view wx:if="{{showAge}}" class="sub-nav-sticky age-box">
        <view wx:for="{{ageList}}" class="experience-item {{ageId==item.id?'nav-item-active':''}}" bindtap="ageClick" data-id="{{item.id}}" data-name="{{item.name}}">
            {{item.name}}
        </view>
    </view>
    <!--数据空省-->
    <view wx:if="{{!loading && noData}}" class="fl-center-center" style="font-size:24rpx;color:rgba(144,147,153,1);height: 80vh">暂时没有合适的人才</view>
    <!--人才列表-->
    <view wx:if="{{!loading && !noData}}" hidden="{{hide}}" class="talent-list-box {{showJob || showExperience|| showAge || showSubCity?'over-hide':''}} ">
        <view wx:for="{{talentList}}" wx:key="{{item.account_id}}">
            <talent-card index="{{index}}" talent="{{item}}" page-type="1" bind:changTalent="changTalent"></talent-card>
            <view class="no-more-data"
                  wx:if="{{index==talentList.length-1 && noMoreData}}">
                    已经到底了
            </view>
        </view>
    </view>
    <!--灰色背景-->
    <view wx:if="{{showJob || showExperience|| showAge || showSubCity}}" class="mask" style="background-color: #5E6E81" catchtap="closeNav"></view>
</view>

<modal-login wx:if="{{showLogin}}" id="modal_login"></modal-login>