<navigation 
	page-name="{{title}}" 
	currenlibraryarr="{{dataFromNumLibrary[0]}}"
	oldlibraryarr="{{dataFromNumLibrary[1]}}"
	post_id="{{post_id}}"
	></navigation>

<!-- <view class="publish-job" wx:if="{{showIninput}}"> -->

<view class="publish-job">
	<!--职位标题-->
	<view class="row">
		<view class="left">职位标题：</view>
		<view class="right">
			<input type="text" bindinput="jobTitleChange" placeholder="请输入职位标题" value="{{jobTitle}}" disabled="{{editLimit}}"
			 class="{{editLimit?'disable-color':''}}" maxlength="20" />
			<view class="gray-line"></view>
		</view>
	</view>
	<!--招聘人数-->
	<view class="row">
		<view class="left">招聘人数：</view>
		<view class="right">
			<input type="number" bindinput="employNumChange" placeholder="请输入招聘人数" value="{{employNum}}" maxlength="20" />
			<view class="gray-line"></view>
		</view>
	</view>
	<!--职位薪资-->
	<view wx:if="{{jobFirstGrade!=1}}" class="btn-capsule flex-row flex-row-sb">
		<view class="{{isFaceTalk==0?'btn-capsule-left btn-capsule-active':'btn-capsule-left'}}" data-id="0" bindtap="salaryTypeChange">自定义薪资</view>
		<view class="{{isFaceTalk==1?'btn-capsule-right btn-capsule-active':'btn-capsule-right'}}" data-id="1" bindtap="salaryTypeChange">面议</view>
	</view>
	<view wx:if="{{isFaceTalk==0}}" class="row">
		<view class="left">职位薪资：</view>
		<view class="right flex-row-sb flex-align-center" style="align-items:center;">
			<view style="width:166rpx">
				<input type="number" bindinput="salaryChange" placeholder="" maxlength="20" value="{{salary}}" />
				<view class="gray-line"></view>
			</view>
			至
			<view style="width:166rpx">
				<input type="number" bindinput="salaryMaxChange" placeholder="" maxlength="20" value="{{salaryMax}}" />
				<view class="gray-line"></view>
			</view>
			<view class="gray-right"></view>
			<!-- <picker class="flex-row " range="{{unitList}}" range-key="name" bindchange="bindUnitChange"> -->
			<view class="flex-row .flex-align-center" bindtap="showUnit">
				<view>{{unitName}}</view>
				<image src="../../images/arrow_bottom.png" style="margin-left: 24rpx;"></image>
			</view>
			<!-- </picker> -->
		</view>
	</view>
	<!--职位亮点-->
	<view class="row" style="height:auto;" wx:if="{{welfareList.length>0}}">
		<view class="left ">职位亮点：</view>
		<view class="right flex-row-sb flex-align-center" bindtap="onpenModal">
			<view class="right flex-row-sb " style="width:90%;">
				<text wx:if="{{welfareCheckList.length>0}}" class="text flex-row">
					<block wx:for="{{welfareList}}" wx:if="{{item.checked}}">{{item.name}}<text wx:if="{{welfareCheckList.length!=index+1}}">、</text>
					</block>
				</text>
				<view wx:else class="placeholder-color">请选择职位亮点</view>
			</view>
			<image src="../../images/arrow_bottom.png"></image>
		</view>
	</view>
	<!--灰色分割线-->
	<view class="gray-line-bg" style="width: 100%;height: 18rpx"></view>
	<!--全职--经验要求-->
	<view wx:if="{{jobFirstGrade==3}}" class="row">
		<view class="left">经验要求：</view>
		<view class="right">
			<!-- <picker range="{{experienceList}}" range-key="name" bindchange="bindExperienceChange"> -->
			<view class="flex-row-sb flex-align-center" bindtap="showExperience">
				<view class="text">{{experienceName}}</view>
				<image src="../../images/arrow_bottom.png" style="margin-left: 24rpx;"></image>
			</view>
			<!-- </picker> -->
		</view>
	</view>
	<!--全职--学历要求-->
	<view wx:if="{{jobFirstGrade==3}}" class="row">
		<view class="left">学历要求：</view>
		<view class="right">
			<!-- <picker range="{{educationList}}" range-key="name" bindchange="bindEducationChange"> -->
			<view class="flex-row-sb flex-align-center" bindtap="showEducation">
				<view class="text">{{educationName}}</view>
				<image src="../../images/arrow_bottom.png" style="margin-left: 24rpx;"></image>
			</view>
			<!-- </picker> -->
		</view>
	</view>
	<!--兼职--工作开始时间,工作结束时间-->
	<view wx:if="{{ jobFirstGrade==2}}" class="row">
		<!-- <picker mode="date" value="{{startTime}}" bindchange="bindStartDateChange" > -->
		<view class="flex-row-sb flex-align-center" bindtap="showStart" style="width: 45%">
			<view class="text">{{startTime}}</view>
			<image src="../../images/arrow_bottom.png"></image>
		</view>
		<!-- </picker> -->
		<!-- <picker mode="date" start="{{startTime}}" value="{{endTime}}" bindchange="bindEndDateChange" > -->
		<view class="flex-row-sb flex-align-center" bindtap="showEnd" style="width: 45%;margin-left: 10%">
			<view class="text">{{endTime}}</view>
			<image src="../../images/arrow_bottom.png"></image>
		</view>
		<!-- </picker> -->
	</view>
	<!--兼职-线上-结算方式-->
	<view wx:if="{{jobFirstGrade==1}}" class="row">
		<view class="left">结算方式：</view>
		<view class="right">
			<!-- <picker range="{{settlementList}}" range-key="name" bindchange="bindSettlementTypeChange"> -->
			<view class="flex-row-sb flex-align-center" bindtap="showSettlement">
				<view class="text">{{settlementName}}</view>
				<image src="../../images/arrow_bottom.png" style="margin-left: 24rpx;"></image>
			</view>
			<!-- </picker> -->
		</view>
	</view>
	<!--兼职--报名截止时间-->
	<view wx:if="{{jobFirstGrade!=3 && false}}" class="row">
		<view class="left">报名截止时间：</view>
		<view class="right flex-row" style="flex-wrap: wrap">
			<!-- <picker mode="date" start="{{startTime}}" end="{{endTime}}" value="{{deadTime}}" bindchange="bindDeadDateChange"> -->
			<view class="flex-row-sb flex-align-center" bindtap="showDeadTime">
				<view class="text">{{deadTime}}</view>
				<image src="../../images/arrow_bottom.png"></image>
			</view>
			<!-- </picker> -->
		</view>

	</view>
	<!--兼职--工作时段-->
	<view wx:if="{{ jobFirstGrade!=3}}" class="row" style="height: auto;flex-wrap: wrap;padding-bottom:10rpx;">
		<view class="left">工作时段：</view>
		<!-- <view class="right flex-row" style="flex-wrap: wrap"> -->
		<view wx:for="{{workingTimePeriod}}" class="work-time " style="margin-top:{{index>=2?'20rpx':0}}" data-index="{{index}}"
		 bindtap="delWorkTime">
			{{item.startTime}} 至 {{item.endTime}}
			<image src="../../images/close_gray_icon.png" style="width: 21rpx;height: 21rpx;position: absolute;right: 0;top: 0;background-color:#C0C4CC;border-radius: 50%"></image>
		</view>
		<view wx:if="{{workingTimePeriod.length<3}}">
			<!-- <picker mode="multiSelector" bindcolumnchange="bindcolumnchange" bindchange="addWorkTime" range="{{workTimeList}}"> -->
			<!-- <view  style="margin:{{index>=2?'20rpx':0}} 28rpx 10rpx 0;width: 212rpx;height: 52rpx;color:#909399;font-size: 14px;line-height: 40rpx">+ 添加工作时段</view> -->
			<view style="margin:{{workingTimePeriod.length>=2?'20rpx':0}} 28rpx 10rpx 0;width: 212rpx;color:#909399;font-size: 14px;line-height: 40rpx"
			 bindtap="jobIntervalShowPopup">+ 添加工作时段</view>
			<!-- </picker> -->
		</view>
		<!-- </view> -->
	</view>

	<!--精准简历-->
	<view class="row" bindtap="goToSelectType">
		<!--<view class="row" bindtap="gotoJobLimitPage">-->
		<view class="left">精准简历：</view>
		<view class="right">
			{{jobNameList}}
			<image src="../../images/arrow_right.svg" style="float: right"></image>
		</view>
	</view>
	<view style="height:32rpx;color:#19C7EA;padding: 20rpx 30rpx 0 30rpx;font-size:24rpx;" bindtap="showAccurate">
		<view class="flex-row flex-align-end">什么是精准简历
			<image style="height:28rpx;width:28rpx;margin-left:10rpx;" src="https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-wechat/youpin/images/questionMark.png" />
		</view>
	</view>
	<!--更多限制条件-->
	<view wx:if="{{operaAuthorize.limit_condition==1}}" class="row" bindtap="gotoJobLimitPage">
		<!--<view class="row" bindtap="gotoJobLimitPage">-->
		<view class="left">更多要求：</view>
		<view class="right">
			{{flag?'已限制':''}}
			<image src="../../images/arrow_right.svg" style="float: right"></image>
		</view>
	</view>
	<!--灰色分割线-->
	<view class="gray-line-bg" style="width: 100%;height: 18rpx"></view>
	<!--职位描述标题-->
	<view class="row">
		<view class="left">职位描述:</view>
		<view class="right" style="text-align: right;color:rgba(192,196,204,1);">
			{{jobContent.length}}/1000
		</view>
	</view>
	<!--职位描述内容-->
	<view class="job-describe">
		<textarea placeholder="职位职责:" value="{{jobContent}}" wx:if="{{showIninput}}" maxlength="1000" style="height:{{textHieght+'rpx'}}"
		 placeholder-style="color:rgba(181,181,181,1);font-size:24rpx;line-height:34rpx;" bindinput="getValue" />
		<view wx:else style="height:{{textHieght+'rpx'}};" class="textarea">
            <text>{{jobContent}}</text>
        </view>
    </view>
    <!--灰色分割线-->
    <view class="gray-line-bg" style="width: 100%;height: 18rpx"></view>
    <!--选择城区-->
    <view class="row" bindtap="gotoCitySelectPage" wx:if="{{jobFirstGrade!=1}}">
        <view class="left">工作地区：</view>
        <view class="right flex-row-sb flex-align-center">
            <view wx:if="{{cityName}}" class="{{editLimit?'disable-color':''}}">{{cityName}}{{subCityName}}</view>
            <view wx:else style="color: #909399 ">请选择工作地区</view>
            <image src="../../images/arrow_bottom.png"></image>
        </view>
    </view>
    <!--详细地址-->
    <view wx:if="{{jobFirstGrade!=1}}" class="row">
        <view class="left">详细地址：</view>
        <view class="right flex-row-sb">
            <input type="text" bindinput="addressChange" placeholder="请输入详细地址" disabled="{{editLimit}}" style="width: 100%;" class="{{editLimit?'disable-color':''}}" value='{{address}}' maxlength="32" />
        </view>
    </view>
    <!--灰色分割线-->
    <view class="gray-line-bg" style="width: 100%;height: 18rpx"></view>
    <!--联系人-->
    <view class="row">
        <view class="left">联系人：</view>
        <view class="right">
            <input type="text" bindinput="contactChange" placeholder="请输入联系人姓名" value="{{contactName}}" maxlength="10" />
            <!-- <view class="gray-line"></view> -->
        </view>
    </view>
    <!--联系方式-->
    <view class="row">
        <view class="left" style="flex:1">联系方式：</view>
        <view class="right" style="width:530rpx">
            <view class="flex-row">
                <!--<input type="text" bindinput="contactChange" value="{{contact}}" placeholder="联系人" maxlength="10"  style="width: 142rpx;" />-->
                <!--<image src="../../images/arrow_bottom.png"></image>-->
                <!-- <picker range="{{contactTypeList}}" range-key="name" bindchange="bindContactTypeChange"> -->
                <view class="right flex-row-sb flex-align-center" bindtap="showContactType">
                    <view>{{contactTypeList[contactTypeId-1].name}}</view>
                    <image src="../../images/arrow_bottom.png"></image>
                </view>
				<!-- <view class="gray-line"></view> -->
                <!-- </picker> -->
            </view>

            <!-- <input bindinput="phoneChange" 
			value="{{contactNum}}" 
			placeholder="请输入联系方式" 
			maxlength="20" 
			style="width: 280rpx;margin-left: 20rpx;" /> -->

            <!-- <view class="flex-row-sb" style="margin-top: 20rpx;">
            <view class="gray-line"></view>
            <view class="gray-line" style="width: 35%"></view>
            </view> -->
        </view>
    </view>
	<!--灰色分割线-->
	<!-- <view class="gray-line-bg" style="width: 307rpx;margin-left: 414rpx;background-color: rgba(221,221,221,0.8);"></view> -->
	<view class="row">
		<!-- background: {{contactTypeId>5? '#ffaa00':''}}; -->
		<view class="left">联系号码：</view>
		<input bindinput="phoneChange"
		value="{{contactNum}}"
		disabled="{{numIsDisabled}}"
		placeholder="请输入联系号码" 
		maxlength="20"
		 class="{{contactTypeId > 5 ?'disable-color':''}}"
		style="width: 280rpx;margin: 0 20rpx;flex:1" />
		<view class="num-library" bindtap="eidtNumLibrary"  wx:if="{{showNumLibraryBtn}}">
		    <van-button size="small" color="rgba(25,199,234,1)" type="primary">编辑号码库</van-button>
		</view>
		<!-- <view class="gray-line"></view> -->
	</view>
	<!-- 灰色的线 -->
	<!-- <view class="flex-row-sb" style="margin: -20rpx 30rpx 0 0;">
		<view class="gray-line"></view>
		<view class="gray-line" style="width: 72%"></view>
	</view> -->
    <!--发布按钮-->
    <view class="fix-bottom" style="position: relative;margin-top:10px">
        <button class="btn-large" disabled="{{clickFlag}}" catchtap="publish">{{btnText}}</button>
    </view>
    <!--底部占位,防止IOS忽略底部距离-->
    <!--<view style="width: 100%;height: 160rpx;"></view>-->
</view>

<view wx:if="{{showWelfare}}" class="welfare-list">

    <view class="flex-row-sb welfare-title">
        <view class="flex-row-sb" style="width:638rpx;margin:0 28rpx;">
            <text style="font-size:34rpx;" bindtap="closeModal" data-type="1">取消</text>
            <view style="font-size:36rpx;color:rgba(34,58,80,1);">职位亮点</view>
            <text style="color:#31C9DD;font-size:34rpx;" bindtap="closeModal" data-type="1">确认</text>
        </view>
    </view>
    <view class="welfare-view">

        <view class="welfare-item flex-row-sb" wx:for="{{welfareList}}" bindtap="welfareClick" data-id="{{item.id}}" data-name="{{item.name}}">
            <view style="font-size:28rpx;">{{item.name}}</view>
            <image wx:if="{{item.checked===1}}" src="../../images/agree_icon.png" class="img-icon"></image>
            <view wx:else class="square"></view>
        </view>
    </view>


</view>

<view wx:if="{{showWelfare}}" class="mask" catchtap="closeModal"></view>
<citySelect bind:confirm="citySelect" show="{{showCity}}" bind:close="onClose" canSelectAll="{{true}}"></citySelect>
<pickerSelect bind:confirm="bindUnitChange" bind:close="onClose" show="{{showUnit}}" defaultId="{{jobFirstGrade==3?2:(jobFirstGrade==3?0:3)}}" title="薪资单位" columns="{{unitList}}"></pickerSelect>
<pickerSelect 
bind:confirm="bindContactTypeChange" 
bind:close="onClose" show="{{showContactType}}" 
title="联系方式" 
columns="{{contactTypeList}}">
</pickerSelect>

<pickerSelect bind:confirm="bindExperienceChange" bind:close="onClose" show="{{showExperience}}" title="经验要求" columns="{{experienceList}}"></pickerSelect>
<pickerSelect bind:confirm="bindEducationChange" bind:close="onClose" show="{{showEducation}}" title="学历要求" columns="{{educationList}}"></pickerSelect>
<pickerSelect bind:confirm="bindSettlementChange" bind:close="onClose" show="{{showSettlement}}" title="结算方式" columns="{{settlementList}}"></pickerSelect>
<van-popup show="{{ jobIntervalshow }}" bind:close="onClose" position="bottom" catchtouchmove=''>
    <van-picker show-toolbar title="工作时段" columns="{{ jobIntervalArray }}" bind:cancel="onClose" bind:change="bindjobIntervalColumnChange" bind:confirm="bindjobIntervalChange" />
</van-popup>
<vip id="vip"></vip>

<van-popup show="{{ showDeadTime }}" bind:close="onClose" position="bottom" catchtouchmove=''>
    <van-datetime-picker title="报名截止时间" type="date" value="{{ deadTimeStamp}}" bind:confirm="onInputDead" bind:cancel="onClose" min-date="{{minDateDead}}" formatter="{{ formatterStart }}" />
</van-popup>

<van-popup show="{{ showStart }}" bind:close="onClose" position="bottom" catchtouchmove=''>
    <van-datetime-picker title="开始时间" type="date" value="{{ startTimeStamp}}" bind:confirm="onInputStart" bind:cancel="onClose" min-date="{{ today }}"  formatter="{{ formatterStart }}" />
</van-popup>

<van-popup show="{{ showEnd }}" bind:close="onClose" position="bottom" catchtouchmove=''>
    <van-datetime-picker title="结束时间" type="date" value="{{ endTimeStamp}}" bind:confirm="onInputEnd" bind:cancel="onClose" min-date="{{ startTimeStamp }}" formatter="{{ formatterEnd }}" />
</van-popup>


<modal-accurate id="modal_accurate_buy_job" showType="buy" resumeOrJob="job"></modal-accurate>
<modal-accurate id="modal_accurate" bind:close="onClose"></modal-accurate>
<modal-accurate id="modal_accurate_buy" bind:close="onClose" showType="buy"></modal-accurate>
<modal-select-up id="modal-select-up" bind:close="onClose" bind:select="publishNext"></modal-select-up>
<vip id="vip" bind:close="onClose"></vip>
