@import "../../app.wxss";

.talent-pool-talent {
  position: relative;
  background-color: #fff;
  margin-bottom: 20rpx;
  border-radius: 4px;
}

.cancellation {
  position: absolute;
  right: 66rpx;
  top: 0;
  width: 158rpx;
  height: 78rpx;
}

.talent-list-box {
  padding: 20rpx 30rpx;
}

.talent-pool-item {
  background: rgba(255, 255, 255, 1);
  margin-bottom: 22rpx;
  box-shadow: 0px 4rpx 16rpx 0px rgba(221, 221, 221, 0.5);
  border-radius: 4rpx;
}

.talent-content {
  padding: 48rpx 60rpx 48rpx 40rpx;
  font-size: 24rpx;
  color: rgba(144, 147, 153, 1);
  line-height: 34rpx;
  position: relative;
}

.talent-profile {
  width: 120rpx;
  height: 120rpx;
  background: rgba(191, 218, 233, 1);
  box-shadow: 0px 1px 6rpx 0px rgba(0, 0, 0, 0.5);
  margin-right: 24rpx;
  border-radius: 50%;
  overflow: hidden;
}

.talent-identity-icon {
  width: 28rpx;
  height: 28rpx;
  position: absolute;
  bottom: 0;
  right: 34rpx;
}

.talent-sex-icon {
  width: 32rpx;
  height: 32rpx;
  margin-left: 6rpx;
}

.talent-name {
  font-size: 34rpx;
  color: rgba(34, 58, 80, 1);
}

.talent-contact {
  font-size: 28rpx;
  color: rgba(25, 199, 234, 1);
}

.btn-collect {
  width: 160rpx;
  height: 64rpx;
  border-radius: 10rpx;
  border: 1px solid rgba(136, 226, 244, 1);
  font-size: 28rpx;
  color: rgba(25, 199, 234, 1);
  text-align: center;
  line-height: 64rpx;
  margin: 22rpx;
}

.btn-cancel-collect {
  width: 160rpx;
  height: 64rpx;
  border-radius: 10rpx;
  font-size: 28rpx;
  color: #fff;
  text-align: center;
  line-height: 64rpx;
  margin: 22rpx;
  background: rgba(192, 196, 204, 1);
  border: 1px solid rgba(192, 196, 204, 1);
}

.complain-title {
  margin: 0 24rpx;
  width: 376rpx;
  height: 42rpx;
  font-size: 30rpx;
  font-weight: 600;
  color: rgba(49, 59, 78, 1);
  line-height: 42rpx;
}

.complain-subtitle {
  margin: 0 24rpx;
  width: 642rpx;
  height: 34rpx;
  font-size: 24rpx;
  font-weight: 400;
  color: rgba(192, 196, 204, 1);
  line-height: 34rpx;
  padding-bottom: 12rpx;
}

.complain-cell {
  margin-left: 24rpx;
  padding: 36rpx 24rpx 36rpx 0;
  width: 642rpx;
  border-top: 1px solid #f5f5f5;
}

.complain-name {
  width: 642rpx;
  font-size: 14px;
  font-weight: 400;
  color: rgba(49, 59, 78, 1);
  line-height: 14px;
}

.cancel {
  margin: 0 24rpx;
  padding: 36rpx 0;
  width: 642rpx;
  height: 12px;
  font-size: 28rpx;
  font-weight: 400;
  color: rgba(49, 59, 78, 1);
  line-height: 12px;
}

.modal-content {
  position: fixed;
  left: 30rpx;
  width: 690rpx;
  background: #fff;
  padding: 24rpx 0 0 0;
  box-sizing: border-box;
  z-index: 99;
  bottom: 30rpx;
  border-radius: 10rpx;
  top: auto;
}

.type-accurate {
  margin-left: 10rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 14px;
  background: rgba(22, 16, 2, 1);
  border-radius: 7px;
  font-size: 10px;
  font-weight: 400;
  color: rgba(198, 158, 57, 1);
  line-height: 14px;
}

.accurate-content {
  margin-right:9px;
  margin-top:8rpx; 
  padding:1.5px 5px;
  /* height: 20px; */
  background: rgba(240, 240, 240, 1);
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(144, 147, 153, 1);
  line-height: 17px;
  display: inline-block;
  /* align-items: center;
  justify-content: center; */ 
}
