<view class="navbar-box" style='height:{{navH}}px' wx:if="{{solid}}"></view>
<view class="navbar" style='height:{{navH}}px'>
    <view wx:if="{{showNav}}"  class="navbar-action-wrap  {{showHome ? 'navbar-action-group' : ''}} row item-center" style="background:{{btColor}};border-color:{{btBorder}};top:{{top}}px;">
        <image wx:if="{{white}}" src="../../images/nav_back_white_icon.png" bindtap="goBack"></image>
        <image wx:else src="../../images/nav_back_icon.png" bindtap="goBack"></image>
        <image wx:if="{{white}}" src="../../images/nav_home_white_icon.png" bindtap="goHome"></image>
        <image wx:else src="../../images/nav_home_icon.png" bindtap="goHome"></image>

    </view>
    <view class="flex-row">
        <!--城市信息-->
        <view wx:if="{{showLocation}}" class="location flex-row flex-align-center"  bindtap="gotoSelectCityPage" style="height: 92rpx;position:absolute;top:40rpx;left: 0;"><image src="../../images/locate_icon.png" style="width: 40rpx;height: 40rpx;margin-top: 10rpx;"></image>{{cityName}}</view>
        <view class="navbar-title {{white?'white':''}}">
            {{pageName}}
        </view>
    </view>

    <view class="navbar-action-wrap  row item-center" wx:if="{{type==2}}" style="top:{{top}}px;left:5%;">
        <button open-type="contact" class="open-type flex-center-center" session-from="nickName={{userInfo.nickName}}|avatarUrl={{userInfo.avatarUrl}}|foreignid={{userInfo.foreignid}}|referrerTitle={{ysf.title}}">客服
</button>
    </view>

</view>
