/**index.wxss**/
page {
  background-color: #F5F5F5;
  box-sizing: border-box;
}
.navigator {
  box-sizing:border-box;
  height: 100rpx;
  padding: 24rpx 50rpx;
  position: relative;
  display: flex;
  align-items: center;
  font-size:28rpx;
  color:rgba(0,0,0,1);
  text-align :left;
  font-weight:500;
  background-color :#ffffff;
}
.navigator:before {
  content: " ";
  position: absolute;
  left: 30rpx;
  top: 0;
  right: 30rpx;
  height: 1px;
  color: #D8D8D8;
}
.navigator:first-child:before {
  display: none;
}
.navigator-text {
  flex: 1;
  color: #313B4E;
  line-height: 40rpx;

}
.navigator-arrow {
  padding-right: 52rpx;
  position: relative;
  color :#aeaeae;
}
.navigator-arrow:after {
  content: " ";
  display: inline-block;
  height: 18rpx;
  width: 18rpx;
  border-width: 4rpx 4rpx 0 0;
  border-color: #aeaeae;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -8rpx;
  right: 28rpx;
}
