<!--<navigation page-name="个人中心" showNav="{{false}}"></navigation>-->
<view class="center">

    <!--头像等信息-->
    <view class="view-head">
        <view class="user-info flex-row-sb">
            <view class="flex-row">
                <!-- <view class="user-info-avatar" bindtap="gotoUserInfoPage">
                <open-data type="userAvatarUrl"></open-data>
                </view> -->
                <view class="user-info-avatar" bindtap="upLoadImage">
                    <image wx:if="{{isUpLoad&&isLogin}}" src="{{avatarUrl}}" mode="aspectFill"></image>
                    <open-data wx:elif="{{isLogin}}" type="userAvatarUrl"></open-data>
                    <image wx:else src="https://wodan-idc.oss-cn-hangzhou.aliyuncs.com/shijianke-wechat/jiankezhaopin/images/defaultHead.png"></image>
                </view>
                <view>
                    <view wx:if="{{isLogin}}" class="user-info-name" bindtap="gotoUserInfoPage">{{userName}}</view>
                    <view wx:else class="user-info-name flex-row flex-align-center" bindtap="openLogin">立即登录
                        <image src="../../images/unLogin_arrow_right.png" style="width: 20rpx;height: 20rpx;margin-left: 4rpx;"></image>
                    </view>
                    <view class="flex-row" wx:if="{{isLogin}}">
                        <view bindtap="gotoIdentificationPage" data-type="1" class="is-identification flex-row-sb flex-align-center " wx:if="{{identificationPerson==3}}">
                            <image src="../../images/identification_person.png"></image>
                            <text>个人认证</text>
                        </view>
                        <view bindtap="gotoIdentificationPage" data-type="1" class="is-identification flex-row-sb flex-align-center " wx:if="{{identificationPerson==2}}" style="background:rgba(211,211,211,0.4);">
                            <image src="../../images/identification_person_no.png"></image>
                            <text>个人认证</text>
                        </view>
                        <view bindtap="gotoIdentificationPage" data-type="1" class="is-identification flex-row-sb flex-align-center " wx:if="{{!identificationPerson || identificationPerson==1}}" style="background:rgba(211,211,211,0.4);">
                            <image src="../../images/identification_person_no.png"></image>
                            <text>个人认证</text>
                        </view>
                        <view bindtap="gotoIdentificationPage" data-type="1" class="is-identification flex-row-sb flex-align-center " wx:if="{{identificationPerson==4}}" style="background:rgba(211,211,211,0.4);">
                            <image src="../../images/identification_person_no.png"></image>
                            <text>个人认证</text>
                        </view>
                        <!--企业认证-->
                        <view bindtap="gotoIdentificationPage" data-type="2" class="is-identification flex-row-sb flex-align-center " wx:if="{{identificationCompany==3}}">
                            <image src="../../images/identification_company.png"></image>
                            <text>企业认证</text>
                        </view>
                        <view bindtap="gotoIdentificationPage" data-type="2" class="is-identification flex-row-sb flex-align-center " wx:if="{{identificationCompany==2}}" style="background:rgba(211,211,211,0.4);">
                            <image src="../../images/identification_company_no.png"></image>
                            <text>企业认证</text>
                        </view>
                        <view bindtap="gotoIdentificationPage" data-type="2" class="is-identification flex-row-sb flex-align-center " wx:if="{{!identificationCompany || identificationCompany==1}}" style="background:rgba(211,211,211,0.4);">
                            <image src="../../images/identification_company_no.png"></image>
                            <text>企业认证</text>
                        </view>
                        <view bindtap="gotoIdentificationPage" data-type="2" class="is-identification flex-row-sb flex-align-center " wx:if="{{identificationCompany==4}}" style="background:rgba(211,211,211,0.4);">
                            <image src="../../images/identification_company_no.png"></image>
                            <text>企业认证</text>
                        </view>
                    </view>
                </view>
            </view>
            <view class="flex-row fl-center-center" wx:if="{{isLogin}}" style="font-size:30rpx;color:rgba(255,255,255,1);" bindtap="gotoUserInfoPage">
            <image mode="aspectFill" style="height:48rpx;width:48rpx;padding:0 20rpx;" src="../../images/edit_white_icon.png"> </image>
        </view>
        </view>
        <!-- 收藏/粉丝 -->
        <view class="center-num flex-row-sa" >
            <view class="flex-col fl-center-center" bindtap="gotoCollectListPage">
                <text class="number-css">{{collectNum}}</text>
                <text class="name-css">收藏</text>
            </view>
            <view></view>
            <view class="flex-col  fl-center-center" bindtap="gotoFansListPage">
                <text class="number-css">{{fansNum}}</text>
                <text class="name-css">粉丝</text>
            </view>
        </view>

        <view class="flex-row-sb vip-box">
            <view>
                <view class="vip-title">VIP会员</view>
                <view wx:if="{{!isLogin || !vipName }}" class="vip-text">招聘效果可提升2~5倍</view>
                <view wx:else class="vip-text">{{vipName}}: {{vipTime}}</view>
            </view>
            <view wx:if="{{!isLogin || !vipName}}" class="vip-btn" bindtap="gotoBuyVipPage">立即开通</view>
            <view wx:else class="vip-btn" bindtap="gotoVipInfoPage">查看详情</view>
        </view>
    </view>

    <!--招聘顾问-->
    <view class="navigator" bindtap="contact" style="border-top:0;">
        <view class="navigator-text">招聘顾问</view>
        <view style="color: #9D9D9E;margin-right: 10rpx;">{{contractName}}</view>
        <view class="navigator-arrow"></view>
    </view>
    <view class="gray-line-bg" style="height: 20rpx;"></view>
    <!--帮助中心-->
    <view class="navigator" bindtap="gotoWebViewPage" style="border-top:0;">
        <view class="navigator-text">帮助中心</view>
        <view class="navigator-arrow"></view>
    </view>
    <view class="gray-line-bg" style="height: 2rpx;"></view>
    <!--&lt;!&ndash;意见反馈&ndash;&gt;-->
    <!--<view class="navigator" bindtap="openIdentificationModal" style="border-top:0;">-->
    <!--<view class="navigator-text">意见反馈</view>-->
    <!--<view class="navigator-arrow"></view>-->
    <!--</view>-->
    <!--联系客服-->
    <button open-type="contact" class="open-type navigator" session-from="nickName={{userInfo.nickName}}|avatarUrl={{userInfo.avatarUrl}}|foreignid={{userInfo.foreignid}}|referrerTitle={{ysf.title}}">
        <view class="navigator-text">联系客服</view>
        <view class="navigator-arrow"></view>
    </button>
    <view class="gray-line-bg" style="height: 20rpx;"></view>
    <!--切换小程序-->
    <view bindtap="gotoJiankeMiniprogram" class="open-type navigator">
        <view class="navigator-text">切换为求职者</view>
        <view class="navigator-arrow"></view>
    </view>
    <view class="gray-line-bg" style="height: 20rpx;"></view>
    <!--设置-->
    <view class="navigator" bindtap="gotoSettingPage" style="border-top:0;">
        <view class="navigator-text">设置</view>
        <view class="navigator-arrow"></view>
    </view>
    <view class="gray-line"></view>
    <!--&lt;!&ndash;登出&ndash;&gt;-->
    <!--<view class="btn btn-fix" style="background-color: #ffffff;color: #2E4459" bindtap="loginOut" wx:if="{{isLogin}}">-->
    <!--退出登录-->

    <!--</view>-->
    <!--登录弹窗-->
    <modal-login wx:if="{{showLogin}}" id="modal_login"></modal-login>
    <!-- <view class="loginOut" bindtap="gotoLoginPage"> -->
    <!-- <view class="loginOut" bindtap="gotoLoginPage" wx:if="{{env==='dev'}}"> -->
    
    <view class="loginOut" bindtap="gotoLoginPage" >
        电话登录
        <view class="gray-line"></view>
    </view>

    <view hidden="{{showFlag}}">
        <!--<camera device-position="back" flash="off" binderror="error" style="width: 100%; height: 100vh;"></camera>-->
        <view class="mask" bindtap="closeIdentificationModal">

        </view>
        <view class="modal-box" style="bottom: -200rpx">
            <!--<view class="modal-text" bindtap="takePhoto">拍照</view>-->
            <view class="modal-text" bindtap="gotoIdentificationPage" data-type="1" style="padding-top: 32rpx;text-align: center;padding-bottom: 24rpx">个人认证
            </view>
            <view class="gray-line-bg"></view>
            <view class="modal-text" bindtap="gotoIdentificationPage" data-type="2" style="padding-top: 24rpx;text-align: center;padding-bottom: 24rpx">企业认证
            </view>
        </view>

    </view>
</view>
